* {
  padding: 0;
  margin: 0;
  color: white;
}
body {
  background: linear-gradient(rgba(86, 86, 86, 0.2), rgba(86, 86, 86, 0.2)),
    url("https://www.cashadvance6online.com/data/archive/img/1179518937.png");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
}

.App {
  text-align: center;
}

.city {
  font-size: 45px;
  line-height: 35px;
}
.temp {
  font-size: 55px;
}
.input {
  padding: 15px 50px;
  border-radius: 15px;
  border: none;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
  outline: none;
}
.icon {
  width: 40px;
  height: 40px;
}

.card-img-top {
  height: 105px;
}

@media (max-width: 560px) {
  .icon {
    width: 25px;
    height: 25px;
  }
  .card-img-top {
    height: 140px;
  }
}
